CompileFlags:
  Add: [-Wall, -Werror, -Wextra]
  Compiler: clang++

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: "*"
    Remove: [
      llvmlibc-implementation-in-namespace,
      llvmlibc-callee-namespace,
      llvmlibc-restrict-system-libc-headers,

      modernize-use-trailing-return-type,

      android-cloexec-pipe,
      concurrency-mt-unsafe,
      bugprone-easily-swappable-parameters,
      altera-struct-pack-align,
      altera-id-dependent-backward-branch,
      altera-unroll-loops,
      fuchsia-trailing-return,
      misc-no-recursion,

      hicpp-signed-bitwise,
      bugprone-assignment-in-if-condition,
      bugprone-narrowing-conversions,
      performance-no-int-to-ptr,
      cppcoreguidelines-narrowing-conversions,
      bugprone-implicit-widening-of-multiplication-result,
      cppcoreguidelines-avoid-magic-numbers,
      readability-magic-numbers,
      cppcoreguidelines-avoid-non-const-global-variables,
      cppcoreguidelines-pro-type-vararg,
      hicpp-vararg,
      modernize-use-using,
    ]

InlayHints:
  Designators: No
  Enabled: No
  DeducedTypes: No
