CompileFlags:
  Add: [-Wall]
  Compiler: clang

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: "*"
    Remove: [
      android-cloexec-pipe,
      concurrency-mt-unsafe,
      bugprone-easily-swappable-parameters,
      altera-struct-pack-align,
      altera-id-dependent-backward-branch,
      altera-unroll-loops,
      llvmlibc-implementation-in-namespace,

      cppcoreguidelines-avoid-non-const-global-variables,
      
    ]

InlayHints:
  Designators: No
  Enabled: No
  DeducedTypes: No
