# Original
*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit

# https://syntacore.com/page/products/sw-tools
sc-dt

# clangd
compile_commands.json
.cache/
